/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700&display=swap');
@import url('"https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Orbitron:wght@700&display=swap"');

:root {
  --font-family: 'Chakra Petch', sans-serif;
  --second-family: 'Orbitron', sans-serif;
  --third-family: 'Rajdhani', sans-serif;
  --font3: 'Roboto', sans-serif;

  --black: #231f3c;
  --accent-mint: #10deb1;
  --accent-yellow: #efbb31;
  --yeloow-2: #feea72;
  --dark-bg: #0c072c;
  --green-bg: #226158;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--black);
  background-color: var(--white);
  margin: 0;
}

/* Styles for Mobile devices */
section {
  padding: 20px 0;
}

section:first-child {
  padding-top: 0;
}

section:last-child {
  padding-bottom: 80px;
}

/* Styles for Desktop devices */
@media screen and (min-width: 1200px) {
  section {
    padding: 90px 0;
  }

  section:last-child {
    padding-bottom: 164px;
  }
}

/* 
/* h1 {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 64px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  text-transform: uppercase;
} */

/* h2 {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 52px;
  line-height: 1.23;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

h3 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  text-transform: uppercase;
} */

/* p {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
} */
